<usegment name ="header">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="ar-sa" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>$title</title>

</head>

<body>


<div align = "right">

<form action = "binmosa.php" method = "post">
<input type = "text" name = "task" />
<input type = "submit" value = "save task" />
</form>


</usegment>

<usegment name = "task">
 <form action = "binmosa.php?u=$id" method = "post">
<input size = "100" type = "text" name = "task" value ="$task" />
<input type = "submit" value = "modify $id" />
</form> <a href ="binmosa.php?id=$id">X</a>
</usegment>

<usegment name ="footer">


</div>
</body>

</html>
</usegment>