<usegment name ="header">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="ar-sa" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>$title</title>
<style type="text/css">
.table {
	padding: 4px;
	margin: 4px;
	background-color: #E9E9E9;
	border-radius: 10px;
	border: 1px solid #CCCCCC;

}
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	text-align: right;
	color: #000000;
}
</style>
</head>

<body>

<table  class="table" align="center" dir="rtl" style="width: 70%">

</usegment>

<usegment name = "task">
	<tr bgcolor = "#ECCECE">
		<td class="auto-style2"><strong>$id</strong></td>
		<td class="auto-style2"><strong>$task</strong></td>
	</tr>
	<tr>
</usegment>

<usegment name ="footer">
		<td style="height: 32px"></td>
		<td style="height: 32px"></td>
	</tr>
</table>

</body>

</html>
</usegment>